#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  margin: 5px;
  width: 100px;
}

h2 {
  font-size: 10rem;
  margin-bottom: 10px;
}
